.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

#root {
  overflow: hidden;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ant-layout.ant-layout-has-sider {
  height: 100%;
}

.login-form {
  margin-top: auto;
  margin-bottom: auto;
}

.ml-5 {
  margin-left: 5px;
}

.error {
  color: red;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .ant-form-horizontal .ant-form-item-label {
    flex-basis: 25%;
  }

  form .ant-form-item .ant-form-item-control {
    flex-basis: 60%;
    max-width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .ant-form-horizontal .ant-form-item-label {
    text-align: left;
  }

  form .ant-form-item .ant-form-item-control {
    flex-basis: 100%;
    max-width: 100%;
  }
}